body{
    height: 100vh;
    display: flex;
    align-items: center;
}

.app-container{
    margin: auto;
}

table{
    width: 100%;
    max-width: 500px;
    text-align: center;
}

th{
    width: 33%;
}

.movie-container{
    display: flex;
    margin-top: 2em;
}